.container {
    width: 600px;
    height: 435px;
    margin: 0 auto;
}

#player_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    height: 35px;
    background: #6ab0da;
}

#score {
    font-size: 24px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 5px;
}

#hearts {
    margin: 0 5px;
    color: rgb(207, 20, 20);
}

#hearts i {
    margin: 0 1px;
}

canvas {
    background: url(src/sky.png);
}

#player,
#rocket,
#layer1, #layer2, #layer3, #layer4, #layer5 {
    display: none;
}